.footer{
    height: 6rem;
    background-color: rgb(247, 204, 148);
    margin-top: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 86%;
    border-radius: 8px;
    
}

.care{
    padding-left: 12rem; 
    font-family: garamond;
    font-size: medium;
    position: relative;
    padding-top: 9px;
    font-weight: bold;
}

.footerLogo{
    height: 2.8rem;
    position: relative;
    top: 14px;
    right: 1rem;
}

.instagram{
    height: 1.4rem;
    padding: 10px;
    position: relative;
    top: 1rem;
    left: 38rem;
    border: 2px solid #000000;
    border-radius: 50%;
    margin-right: 20px;
}