.footer{
    height: 9rem;
    background-color: rgb(247, 204, 148);
    margin-top: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 86%;
    border-radius: 8px;
    
}

.care{
    padding-left: 12rem; 
    font-family: garamond;
    font-size: 1.2rem;
    position: relative;
    padding-top: 9px;
    font-weight: bold;
}

.footerLogo{
    height: 2.8rem;
    position: relative;
    top: 14px;
    right: 1rem;
}

.contacts{
    font-family: garamond;
    position: relative;
    padding-top: 4px;
    padding-left:64rem;
    padding-bottom: 9px;
    font-size: 1.2rem;
    font-weight: bold;
    bottom: 2rem;
}

.locationImg{
    height: 3rem;
}

.address{
    font-family: garamond;
    font-weight: bold;
    padding-left: 67rem;
    padding-right: 4rem;
    position: relative;
    bottom: 1.7rem;
    font-size: 1rem;
}

/* .instagram{
    height: 1.4rem;
    padding: 10px;
    position: relative;
    top: 1rem;
    left: 38rem;
    border: 2px solid #000000;
    border-radius: 50%;
    margin-right: 20px;
} */