.footer{
    height: 14rem;
    background-color: rgb(247, 204, 148);
    margin-top: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 86%;
    border-radius: 8px;
    
}

.care{
    padding-left: 12rem; 
    font-family: garamond;
    font-size: 1.2rem;
    position: relative;
    padding-top: 9px;
    font-weight: bold;
}

.footerLogo{
    height: 2.8rem;
    position: relative;
    top: 14px;
    right: 1rem;
}

.contacts{
    font-family: garamond;
    position: relative;
    padding-left:64.6rem;
    padding-bottom: 9px;    
    font-size: 1.2rem;
    font-weight: bold;
    bottom: 2rem;
}

.locationImg{
    height: 1.5rem;
    position: relative;
    left: 64rem;
    top: 5.7rem;
}

.callingImg{
    height: 1.3rem;
    position: relative;
    left: 62.8rem;
    top: 8.1rem;

}

.emailImg{
    height: 1.2rem;
    position: relative;
    left: 61.63rem;
    top: 9.8rem;

}

.details{
    font-family: garamond;
    font-weight: bold;
    padding-left: 66rem;
    padding-right: 4rem;
    padding-bottom: 8px;
    position: relative;
    bottom: 1.7rem;
    font-size: 1rem;
}

.descrip{
    font-family: garamond;
    line-height: 1.2rem;
    font-weight: bold;
    margin-left: 13rem;
    margin-right: 50rem;
    position: relative;
    bottom: 6.4rem;
}

/* .instagram{
    height: 1.4rem;
    padding: 10px;
    position: relative;
    top: 1rem;
    left: 38rem;
    border: 2px solid #000000;
    border-radius: 50%;
    margin-right: 20px;
} */