.heading{
    text-align: center;
    font-family: sans-serif;
    color: #005e00;
    position: relative;
    bottom: 16px;
}

.formFill{
    width: 70px;
    position: relative;
    left: 10rem;
    background-color: #ffde8a;
    border-radius: 3rem;
    cursor: pointer;
}

.volunteerPickup{
    width: 70px;
    position: relative;
    left: 40rem;
    bottom: 7.4rem;
    background-color: #ffde8a;
    border-radius: 3rem;
}

.foodDeliever{
    width: 70px;
    position: relative;
    left: 70rem;
    bottom: 14.8rem;
    background-color: #ffde8a;
    border-radius: 3rem;
}

.arrow1{
    position: relative;
    bottom: 3rem;
    margin-left: 27rem;
}

.arrow2{
    margin-left: 58rem;
    position: relative;
    bottom: 10.2rem;
}

.font1{
    margin-left: 9.7rem;
    color: #004900;
    font-family: sans-serif;
    cursor: pointer;
}

.font2{
    margin-left: 37.8rem;
    position: relative;
    bottom: 7.4rem;
    font-family: sans-serif;
    color: #004900;
}

.font3{
    position: relative;
    bottom: 13.8rem;
    margin-left: 68.2rem;
    color: #004900;
    font-family: sans-serif;
}